.idea
__pycache__
staticfiles
venv
my.cnf
athletic/migrations
athletic_development/migrations
corrective_exercise/migrations
exercise_prescription/migrations
exercise_tracking/migrations
finance_module/migrations
fitness/migrations
forms_contents/migrations
media
medical/migrations
medical_exercise/migrations
MedicalEgzersiz
metabolic/migrations
pilates/migrations
postural/migrations
registration/migrations
reporting_analysis/migrations
settings/migrations
requirements.txt