{% extends './medical_exercise_base.html' %}
{% block title %}
    Medikal Egzersiz Reçetesi
{% endblock title %}
{% load static %}

{% block javascript %}
    <script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_extension_buttons_html5.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_data_sources.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_sorting.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/components_buttons.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_advanced.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/form_select2.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/notifications/pnotify.min.js' %}"></script>
{% endblock javascript %}

{% block page_header %}
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{% url 'trainer-home' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>
                        Anasayfa</a>
                    <span class="breadcrumb-item active">Medikal Egzersiz Reçetesi</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="mr-1"></i> <span class="font-weight-semibold"><a style="color: black"
                                                                               href="{% url 'trainer-home' %}"><i
                        class="icon-arrow-left52 fa-2x mr-2"></i></a>Medikal Egzersiz Reçetesi Hazırlama </span>
                </h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
            <div class="header-elements d-none">
                <div class="d-flex justify-content-center">
                </div>
            </div>
        </div>
    </div>
{% endblock page_header %}


{% block page_content %}
    <!-- Corporate Table -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <div class="form-group col-md-4 " data-select2-id="265">
                <label class="font-weight-bold">Danışan Seç</label>
                <select class="form-control select select2-hidden-accessible"
                        data-container-css-class="border-primary text-primary-700"
                        data-dropdown-css-class="border-primary" data-fouc="" data-select2-id="22"
                        tabindex="-1" aria-hidden="true" name="personal">
                    <optgroup label="Danışanlarınız" data-select2-id="266">
                        {% for personal in  personals %}
                            {% if personal_info.personal.id == personal.id %}
                                <option value="{{ personal.id }}"
                                        selected>{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                            {% else %}
                                <option value="{{ personal.id }}">{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </optgroup>
                </select>

            </div>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 ">
                <div class="card card-body border-top-primary">
                    <div class="text-center">
                        <h6 class="m-0 font-weight-semibold">Sistem Reçete Hazırlama</h6>
                        <p class="text-muted mb-3">Önceden sizin yapmış olduğunuz seçimlere göre sistem analizde
                            bulunacaktır</p>

                        <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left rounded-round"
                                id="pnotify-solid-success"><b><i
                                class="icon-gear"></i></b> Sistem Reçetesi
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-body border-top-primary">
                    <div class="text-center">
                        <h6 class="m-0 font-weight-semibold">Manuel Reçete Hazırlama</h6>
                        <p class="text-muted mb-3">Burada yapacağınız seçimlere göre analizler yapılacaktır</p>
                        <a href="{% url 'trainer-medical-exercise-create-home' %}"
                           class="btn bg-danger-400 btn-labeled btn-labeled-left rounded-round "><b><i
                                class="icon-reading"></i></b>Manuel Reçete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#pnotify-solid-success').on('click', function () {
            new PNotify({
                title: 'İşlem Başarılı',
                text: 'Rapor ve Analiz kısmından sonucu görebilirsiniz.',
                addclass: 'bg-success border-success'
            });
        });
    </script>
    <!-- /corporate table -->
{% endblock page_content %}