{% extends './forms_base.html' %}
{% block title %}
    Form Yönetimi
{% endblock title %}
{% load static %}

{% block javascript %}
    <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/components_buttons.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/form_select2.js' %}"></script>

    <!-- Theme JS files -->
    <script src="{% static 'global_assets/js/plugins/forms/styling/switch.min.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/form_checkboxes_radios.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/components_collapsible.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/extra_sliders_ion.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/sliders/ion_rangeslider.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/ui/moment/moment_locales.min.js' %}"></script>

    <script src="{% static 'global_assets/js/demo_pages/form_tags_input.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
    <script src="{% static '/global_assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/ui/prism.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>
{% endblock javascript %}

{% block page_header %}
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{% url 'trainer-home' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>
                        Anasayfa</a>
                    <span class="breadcrumb-item active">Form Yönetimi</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="mr-1"></i> <span class="font-weight-semibold"><a style="color: black"
                                                                               href="{% url 'trainer-home' %}"><i
                        class="icon-arrow-left52 fa-2x mr-2"></i></a>Form Yönetimi</span>
                </h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
            <div class="header-elements d-none">
                <div class="d-flex justify-content-center">
                </div>
            </div>
        </div>
    </div>
{% endblock page_header %}


{% block page_content %}

    <div class="card">

        <div class="card-header header-elements-inline">
            <div class="form-group col-md-4 " data-select2-id="265">
                <label class="font-weight-bold">Formlar</label>

            </div>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="card-body" style="">

            <div class="card">
                <div class="card-header bg-danger-600 header-elements-inline">
                    <h6 class="card-title">
                        <a data-toggle="collapse" class="text-white collapsed "
                           href="#collapsible-styled-group" aria-expanded="false"><i
                                class="icon-arrow-down15  mr-2"></i>Ön Görüşme Formu</a>
                    </h6>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="fullscreen"></a>

                        </div>
                    </div>
                </div>

                <div id="collapsible-styled-group" class="collapse" style="">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data"
                              action="{% url 'trainer-interview-create' %}">
                            {% csrf_token %}
                            <div class="form-group col-md-4 " data-select2-id="265">
                                <label class="font-weight-bold">Danışan Seç</label>
                                <select class="form-control select select2-hidden-accessible"
                                        data-container-css-class="border-primary text-primary-700"
                                        data-dropdown-css-class="border-primary" data-fouc=""
                                        data-select2-id="22"
                                        tabindex="-1" aria-hidden="true" name="personal">
                                    <optgroup label="Danışanlarınız" data-select2-id="266">
                                        {% for personal in  personals %}
                                            {% if personal_info.personal.id == personal.id %}
                                                <option value="{{ personal.id }}"
                                                        selected>{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% else %}
                                                <option value="{{ personal.id }}">{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group  row">
                                            <label class="col-form-label font-weight-bold col-lg-5  col-md-12">Telefon
                                                Görüşme
                                                Tarihi:</label>
                                            <div class="input-group mx-2">

                                                <input type="date" name="call_date"
                                                       class="form-control"
                                                       value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group  row">
                                            <label class="col-form-label font-weight-bold col-lg-5 col-md-12">Ön-Görüşme
                                                –
                                                Test Tarihi:</label>
                                            <div class="input-group mx-2">

                                                <input type="date" name="interviewform_test_date"
                                                       class="form-control "
                                                       value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 my-2 ml-2">
                                        <fieldset class="row">
                                            <legend class="font-weight-bold">Danışmanlık Türü</legend>
                                            {% for k,v in form.INTERVIEWFORM.CONSULTANCY.items %}
                                                <div class="form-check col-lg-12">
                                                    <label class="form-check-label">
                                                        <input type="radio"
                                                               name="interview_conculancy"
                                                               value="{{ v }}"
                                                               class="form-check-input-styled-danger"
                                                               data-fouc>
                                                        {{ v }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 my-2">
                                        <fieldset class="row">
                                            <legend class="font-weight-bold">Egzersiz Süresi</legend>
                                            {% for k,v in form.INTERVIEWFORM.EXERCISEDAY.items %}
                                                <div class="form-check col-lg-12">
                                                    <label class="form-check-label">
                                                        <input type="radio"
                                                               name="exerciseday"
                                                               value="{{ v }}"
                                                               class="form-check-input-styled-primary"
                                                               data-fouc>
                                                        {{ v }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 my-2 mx-2">
                                        <fieldset class="row">
                                            <legend class="font-weight-bold">Egzersiz Saat Tercihi</legend>
                                            {% for k,v in form.INTERVIEWFORM.EXERCISEHOUR.items %}
                                                <div class="form-check col-lg-4">
                                                    <label class="form-check-label">
                                                        <input type="radio"
                                                               name="exercisehour"
                                                               value="{{ v }}"
                                                               class="form-check-input-styled-primary"
                                                               data-fouc>
                                                        {{ v }}
                                                    </label>
                                                </div>
                                            {% endfor %}

                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 my-2 mx-2">
                                        <fieldset class="row">
                                            <legend class="font-weight-bold">Egzersiz Gün Tercihleri</legend>
                                            {% for k,v in form.INTERVIEWFORM.EXERCISEPREFERENCE.items %}
                                                <div class="form-check col-lg-3 col-md-6 col-sm-12">
                                                    <label class="form-check-label">
                                                        <input type="checkbox"
                                                               name="{{ k }}"
                                                               value="{{ v }}"
                                                               class="form-check-input-styled-success"
                                                               data-fouc>
                                                        {{ v }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </fieldset>
                                    </div>

                                    <div class="form-group col-lg-12 col-sm-12 my-4">
                                        <fieldset>
                                            <legend>
                                                <a href="#alpaca-input-label-source10"
                                                   data-toggle="collapse"
                                                   class=""
                                                   aria-expanded="true"><i
                                                        class="icon-pen-plus mr-2"></i>
                                                    Muhtemel Şikayetler
                                                </a>
                                            </legend>
                                            <div class="mt-2 collapse"
                                                 id="alpaca-input-label-source10"
                                                 style="">
                                                <div class="mb-3">
                                                    <input type="text" name="interviewform_complaint1"
                                                           class="form-control text-capitalize tagsinput-custom-tag-class{% if athletic_form.interviewform_complaint1.errors %} border-danger-800 {% endif %}"
                                                           value="{{ athletic_form.interviewform_complaint1.value | default_if_none:"" }}"
                                                           data-fouc
                                                           placeholder="Muhtemel Şikayetler...">
                                                    {% if athletic_form.interviewform_complaint1.errors %}
                                                        {% for error in athletic_form.interviewform_complaint1.errors %}
                                                            <small class="text-danger-800">* {{ error }}</small>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>


                                <div class="col-lg-12 my-2">
                                    <fieldset>
                                        <legend class="font-weight-bold">Sağlık ve Fitness Amaçları</legend>
                                        <div class="row">
                                            {% for k,v  in form.INTERVIEWFORM.FITNESSPURPOSE.items %}

                                                <div class="form-check col-lg-6 col-md-12">
                                                    <label class="form-check-label">
                                                        <div class="border-primary text-primary">
                                                                        <span class="checked"><input type="checkbox"
                                                                                                     class="form-check-input-styled-danger"
                                                                                                     name="{{ k }}"
                                                                                                     value="{{ v }}"
                                                                                                     data-fouc=""></span>
                                                        </div>
                                                        {{ v }}
                                                    </label>
                                                </div>

                                            {% endfor %}

                                        </div>
                                    </fieldset>

                                </div>
                                <div class="form-group col-lg-12 col-sm-12 my-4">
                                    <fieldset>
                                        <legend>
                                            <a href="#alpaca-input-label-source2"
                                               data-toggle="collapse"
                                               class=""
                                               aria-expanded="true"><i
                                                    class="icon-pen-plus mr-2"></i>
                                                Beklentiler
                                            </a>
                                        </legend>
                                        <div class="mt-2 collapse"
                                             id="alpaca-input-label-source2"
                                             style="">
                                            <div class="mb-3">
                                                <input type="text" name="inerview_expectation"
                                                       class="form-control text-capitalize tagsinput-custom-tag-class{% if athletic_form.inerview_expectation.errors %} border-danger-800 {% endif %}"
                                                       value="{{ athletic_form.inerview_expectation.value | default_if_none:"" }}"
                                                       data-fouc
                                                       placeholder="Beklentileriniz...">
                                                {% if athletic_form.inerview_expectation.errors %}
                                                    {% for error in athletic_form.inerview_expectation.errors %}
                                                        <small class="text-danger-800">* {{ error }}</small>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-group col-lg-12 col-sm-12 my-4">
                                    <fieldset>
                                        <legend>
                                            <a href="#alpaca-input-label-source3"
                                               data-toggle="collapse"
                                               class=""
                                               aria-expanded="true"><i
                                                    class="icon-pen-plus mr-2"></i>
                                                Notlar
                                            </a>
                                        </legend>
                                        <div class="mt-2 collapse"
                                             id="alpaca-input-label-source3"
                                             style="">
                                            <div class="mb-3">
                                                <input type="text" name="interview_notes"
                                                       class="form-control text-capitalize tagsinput-custom-tag-class{% if athletic_form.interview_notes.errors %} border-danger-800 {% endif %}"
                                                       value="{{ athletic_form.interview_notes.value | default_if_none:"" }}"
                                                       data-fouc
                                                       placeholder="Notlarınız...">
                                                {% if athletic_form.interview_notes.errors %}
                                                    {% for error in athletic_form.interview_notes.errors %}
                                                        <small class="text-danger-800">* {{ error }}</small>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="submit" name="_save" value="_save" class="btn bg-primary">
                                    KAYDET
                                    <i class="icon-paperplane ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-success-600 header-elements-inline">
                    <h6 class="card-title">
                        <a class="text-white collapsed" data-toggle="collapse"
                           href="#collapsible-styled-group2" aria-expanded="false"><i
                                class="icon-arrow-down15 mr-2"></i>Teklif ve Sözleşme Formu</a>
                    </h6>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="fullscreen"></a>
                        </div>
                    </div>
                </div>
                <div id="collapsible-styled-group2" class="collapse" style="">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data"
                              action="{% url 'trainer-contract-create' %}">
                            {% csrf_token %}
                            <div class="form-group col-md-4 mx-2" data-select2-id="265">
                                <label class="font-weight-bold">Danışan Seç</label>
                                <select class="form-control select select2-hidden-accessible"
                                        data-container-css-class="border-primary text-primary-700"
                                        data-dropdown-css-class="border-primary" data-fouc=""
                                        data-select2-id="22"
                                        tabindex="-1" aria-hidden="true" name="personal">
                                    <optgroup label="Danışanlarınız" data-select2-id="266">
                                        {% for personal in  personals %}
                                            {% if personal_info.personal.id == personal.id %}
                                                <option value="{{ personal.id }}"
                                                        selected>{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% else %}
                                                <option value="{{ personal.id }}">{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold col-lg-5  col-md-12">Sözleşme
                                                Başlama Tarihi:</label>
                                            <div class="input-group mx-2">

                                                <input type="date" class="form-control"
                                                       name="contract_start_date"
                                                       value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold col-lg-5 col-md-12">Sözleşme
                                                Bitiş Tarihi:</label>
                                            <div class="input-group mx-2">

                                                <input type="date" class="form-control"
                                                       name="contract_finish_date"
                                                       value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6  col-sm-12 my-2">
                                        <fieldset>
                                            <legend class="font-weight-bold">Danışmanlık Türü</legend>
                                            <div class="row">
                                                {% for k,v in form.INTERVIEWFORM.CONSULTANCY.items %}
                                                    <div class="form-check col-lg-12 mx-3">
                                                        <label class="form-check-label">
                                                            <input type="radio"
                                                                   name="contract_conculancy"
                                                                   value="{{ v }}"
                                                                   class="form-check-input-styled-primary"
                                                                   data-fouc>
                                                            {{ v }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 my-2">
                                        <fieldset>
                                            <legend class="font-weight-bold">Test – Ölçüm, Değerlendirmeler
                                            </legend>
                                            <div class="row">
                                                {% for k,v in form.CONTRACTFORM.TESTMEASUREMENT.items %}
                                                    <div class="form-check col-lg-12 mx-3">
                                                        <label class="form-check-label">
                                                            <div class="border-primary text-primary">
                                                                        <span class="checked"><input type="checkbox"
                                                                                                     class="form-check-input-styled-success"
                                                                                                     name="{{ k }}"
                                                                                                     value="{{ v }}"
                                                                                                     data-fouc=""></span>
                                                            </div>
                                                            {{ v }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </fieldset>

                                    </div>
                                    <div class="col-lg-12">

                                        <fieldset>
                                            <legend class="font-weight-bold">Egzersiz Süresi</legend>
                                            <div class="row">
                                                {% for k,v in form.INTERVIEWFORM.EXERCISETIME.items %}
                                                    <div class="form-check col-lg-3 mx-3">
                                                        <label class="form-check-label">
                                                            <input type="radio"
                                                                   name="exercise_time"
                                                                   value="{{ v }}"
                                                                   class="form-check-input-styled-danger"
                                                                   data-fouc>
                                                            {{ v }}
                                                        </label>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <!-- Accordion with left control button -->
                                <div class="mb-3 pt-2">

                                    <div class="col-lg-12 my-2">
                                        <fieldset class="row">
                                            <legend class="font-weight-bold">Ders
                                                Sayısı & Ölçüm
                                                Sayısını Seçiniz
                                            </legend>

                                            <div class="form-group col-lg-6">
                                                <label class="font-weight-bold">Ders
                                                    Sayısı</label>
                                                <input type="text"
                                                       name="lesson"
                                                       class="form-control ion-height-helper ion-basic"
                                                       id="" data-fouc>
                                            </div>


                                            <div class="form-group col-lg-6">
                                                <label class="font-weight-bold">Ölçüm
                                                    Sayısı</label>
                                                <input type="text"
                                                       name="measurement"
                                                       class="form-control ion-height-helper ion-basic1"
                                                       id="" data-fouc>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <label class="font-weight-bold">Fiyatlandırma:</label>
                                                <input type="number" maxlength="30" name="price"
                                                       class="form-control"
                                                       placeholder="Lütfen belirlediğiniz fiyatı giriniz">
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="font-weight-bold">İndirim Yüzdesi (%)</label>

                                                <input type="number"
                                                       name="discount"
                                                       class="form-control touchspin-postfix {% if fitness_form.discount.errors %} border-danger-800 {% endif %} "
                                                       value="{{ fitness_form.discount.value | default_if_none:"" }}"
                                                       placeholder="">
                                                {% if fitness_form.discount.errors %}
                                                    {% for error in fitness_form.discount.errors %}
                                                        <small class="text-danger-800">* {{ error }}</small>
                                                        <br/>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <!-- /accordion with left control button -->
                            </div>
                            <div class="text-right">
                                <button type="submit" name="_save" value="_save" class="btn bg-primary">
                                    KAYDET
                                    <i class="icon-paperplane ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary-600 header-elements-inline">
                    <h6 class="card-title">
                        <a class="collapsed text-white" data-toggle="collapse"
                           href="#collapsible-styled-group3"><i class="icon-arrow-down15 mr-2"></i>Medikal İzin
                            Formu</a>
                    </h6>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="fullscreen"></a>
                        </div>
                    </div>
                </div>
                <div id="collapsible-styled-group3" class="collapse">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data"
                              action="{% url 'trainer-medicalform-create' %}">
                            {% csrf_token %}
                            <div class="form-group col-md-4 " data-select2-id="265">
                                <label class="font-weight-bold">Danışan Seç</label>
                                <select class="form-control select select2-hidden-accessible"
                                        data-container-css-class="border-primary text-primary-700"
                                        data-dropdown-css-class="border-primary" data-fouc=""
                                        data-select2-id="22"
                                        tabindex="-1" aria-hidden="true" name="personal">
                                    <optgroup label="Danışanlarınız" data-select2-id="266">
                                        {% for personal in  personals %}
                                            {% if personal_info.personal.id == personal.id %}
                                                <option value="{{ personal.id }}"
                                                        selected>{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% else %}
                                                <option value="{{ personal.id }}">{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <div class="row">


                            </div>
                            <fielset class="my-3 col-lg-12">
                                <legend class="font-weight-bold">Uzman Hekim/Doktor</legend>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="font-weight-bold">Adı Soyadı:</label>
                                    <input type="text" maxlength="30" name="doctor_name_surname"
                                           class="form-control"
                                           placeholder="Lütfen alanı doldurunuz.">
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="font-weight-bold">Telefon:</label>
                                    <input type="text" maxlength="30" name="doctor_phone"
                                           class="form-control"
                                           placeholder="Lütfen alanı doldurunuz.">
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <label class="font-weight-bold">e-mail:</label>
                                    <input type="email" maxlength="30" name="doctor_email"
                                           class="form-control"
                                           placeholder="Lütfen alanı doldurunuz.">
                                </div>

                            </fielset>

                            <div class="text-right">
                                <button type="submit" name="_save" value="_save" class="btn bg-primary">
                                    KAYDET
                                    <i class="icon-paperplane ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-dark header-elements-inline">
                    <h6 class="card-title">
                        <a class="text-white collapsed" data-toggle="collapse"
                           href="#collapsible-styled-group4" aria-expanded="false"><i
                                class="icon-arrow-down15 mr-2"></i>Gönüllü Rıza Formu</a>
                    </h6>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="fullscreen"></a>
                        </div>
                    </div>
                </div>
                <div id="collapsible-styled-group4" class="collapse" style="">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data"
                              action="{% url 'trainer-voluntary-create' %}">
                            {% csrf_token %}
                            <div class="form-group col-md-4 " data-select2-id="265">
                                <label class="font-weight-bold">Danışan Seç</label>
                                <select class="form-control select select2-hidden-accessible"
                                        data-container-css-class="border-primary text-primary-700"
                                        data-dropdown-css-class="border-primary" data-fouc=""
                                        data-select2-id="22"
                                        tabindex="-1" aria-hidden="true" name="personal">
                                    <optgroup label="Danışanlarınız" data-select2-id="266">
                                        {% for personal in  personals %}
                                            {% if personal_info.personal.id == personal.id %}
                                                <option value="{{ personal.id }}"
                                                        selected>{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% else %}
                                                <option value="{{ personal.id }}">{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <fieldset class="">
                                <legend class="font-weight-bold mx-1">Tanık Bilgileri</legend>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <label class="font-weight-bold">Tanık Adı Soyadı:</label>
                                        <input type="text" maxlength="30" name="witness_name_surname"
                                               class="form-control"
                                               placeholder="Lütfen alanı doldurunuz.">
                                    </div>
                                    <div class="col-lg-12 my-2">
                                        <label class="font-weight-bold">Telefon:</label>
                                        <input class="form-control" type="text" name="witness_phone"
                                               placeholder="(___) ___ __ __">
                                    </div>
                                    <div class="col-lg-12 my-2">
                                        <label class="font-weight-bold">Tarih:</label>
                                        <input class="form-control" type="date" name="witness_date"
                                              >
                                    </div>

                                </div>
                            </fieldset>

                            <div class="text-right">
                                <button type="submit" name="_save" value="_save" class="btn bg-primary">
                                    KAYDET
                                    <i class="icon-paperplane ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header bg-warning-600 header-elements-inline">
                    <h6 class="card-title">
                        <a data-toggle="collapse" class="text-white collapsed"
                           href="#collapsible-styled-group8" aria-expanded="false"><i
                                class="icon-arrow-down15 mr-2"></i>PAR-Q Formu</a>
                    </h6>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="fullscreen"></a>
                        </div>
                    </div>
                </div>
                <div id="collapsible-styled-group8" class="collapse" style="">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data"
                              action="{% url 'trainer-parq-create' %}">
                            {% csrf_token %}
                            <div class="form-group col-md-4 " data-select2-id="265">
                                <label class="font-weight-bold">Danışan Seç</label>
                                <select class="form-control select select2-hidden-accessible"
                                        data-container-css-class="border-primary text-primary-700"
                                        data-dropdown-css-class="border-primary" data-fouc=""
                                        data-select2-id="22"
                                        tabindex="-1" aria-hidden="true" name="personal">
                                    <optgroup label="Danışanlarınız" data-select2-id="266">
                                        {% for personal in  personals %}
                                            {% if personal_info.personal.id == personal.id %}
                                                <option value="{{ personal.id }}"
                                                        selected>{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% else %}
                                                <option value="{{ personal.id }}">{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <fieldset class="my-2">
                                <legend>
                                    Doktorunuz kalp rahatsızlığınızın veya yüksek kan basıncınızın olduğunu
                                    söyledi mi?
                                </legend>
                                <div class="row">
                                    {% for k,v in form.PARQ.items %}
                                        <div class="form-check col-lg-3 ml-3">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="parq1"
                                                       value="{{ v }}"
                                                       class="form-check-input-styled-danger"
                                                       data-fouc>
                                                {{ v }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <fieldset class="my-2">
                                <legend>
                                    Günlük işlerinizi yaparken veya egzersiz yaptığınızda göğsünüzde ağrı
                                    hissediyor
                                    musunuz?
                                </legend>
                                <div class="row">
                                    {% for k,v in form.PARQ.items %}
                                        <div class="form-check col-lg-3 ml-3">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="parq2"
                                                       value="{{ v }}"
                                                       class="form-check-input-styled-info"
                                                       data-fouc>
                                                {{ v }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <fieldset class="my-2">
                                <legend>
                                    Son 12 saat içinde baş dönmesi nedeniyle veya bilinç kaybı nedeniyle
                                    dengeniz
                                    bozuldu mu?
                                </legend>
                                <div class="row">
                                    {% for k,v in form.PARQ.items %}
                                        <div class="form-check col-lg-3 ml-3">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="parq3"
                                                       value="{{ v }}"
                                                       class="form-check-input-styled-warning"
                                                       data-fouc>
                                                {{ v }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <fieldset class="my-2">
                                <legend>
                                    Daha önce herhangi bir kronik bir medikal hastalık tanısı konuldu mu? (Kalp
                                    hastalığı
                                    veya yüksek kan basıncının dışında)
                                </legend>
                                <div class="row">
                                    {% for k,v in form.PARQ.items %}
                                        <div class="form-check col-lg-3 ml-3">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="parq4"
                                                       value="{{ v }}"
                                                       class="form-check-input-styled-primary"
                                                       data-fouc>
                                                {{ v }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <fieldset class="my-2">
                                <legend>
                                    Güncel olarak, kronik medikal durum nedeniyle tanımlanmış bir ilaç alıyor
                                    musunuz?
                                </legend>
                                <div class="row">
                                    {% for k,v in form.PARQ.items %}
                                        <div class="form-check col-lg-3 ml-3">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="parq5"
                                                       value="{{ v }}"
                                                       class="form-check-input-styled-success"
                                                       data-fouc>
                                                {{ v }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <fieldset class="my-2">
                                <legend>
                                    Egzersiz katılımı nedeniyle daha da kötüleşebilecek güncek olarak sahip
                                    olduğunuz
                                    (veya son 12 ay içinde geçirmiş olduğunuz) kemik, eklem ve yumuşak doku
                                    (kas, ligament,
                                    tendon) probleminiz oldu mu?
                                </legend>
                                <div class="row">
                                    {% for k,v in form.PARQ.items %}
                                        <div class="form-check col-lg-3 ml-3">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="parq6"
                                                       value="{{ v }}"
                                                       class="form-check-input-styled-danger"
                                                       data-fouc>
                                                {{ v }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <fieldset class="my-2">
                                <legend>
                                    Daha önce doktorunuz tarafından bir medikal danışman eşliğinde egzersiz
                                    katılımınız
                                    yapmanız gerektiği söylendi mi?
                                </legend>
                                <div class="row">
                                    {% for k,v in form.PARQ.items %}
                                        <div class="form-check col-lg-3 ml-3">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="parq7"
                                                       value="{{ v }}"
                                                       class="form-check-input-styled-info"
                                                       data-fouc>
                                                {{ v }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <fieldset class="my-2">
                                <legend>
                                    Hiçbir belirti yok
                                </legend>
                                <div class="row">
                                    {% for k,v in form.PARQ.items %}
                                        <div class="form-check col-lg-3 ml-3">
                                            <label class="form-check-label">
                                                <input type="radio"
                                                       name="parq8"
                                                       value="{{ v }}"
                                                       class="form-check-input-styled-danger"
                                                       data-fouc>
                                                {{ v }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <div class="text-right">
                                <button type="submit" name="_save" value="_save" class="btn bg-primary">
                                    KAYDET
                                    <i class="icon-paperplane ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $('.ion-basic').ionRangeSlider({
            min: 1,
            max: 100,
        });

        $('.ion-basic1').ionRangeSlider({
            min: 1,
            max: 10,
        });
        $('.touchspin-postfix').TouchSpin({
            min: 0,
            max: 100,
            step: 1,
            decimals: 2,
            postfix: '%'
        });
    </script>
    <!-- /corporate table -->
{% endblock page_content %}