{% extends './pilates_base.html' %}
{% block title %}
    Personal Training
{% endblock title %}
{% load static %}

{% block javascript %}
    <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_extension_buttons_html5.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_data_sources.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_sorting.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/components_buttons.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_advanced.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/form_select2.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>

    <!-- Theme JS files -->
    <script src="{% static 'global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/forms/styling/switch.min.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/form_checkboxes_radios.js' %}"></script>

    <!-- Theme JS files -->
    <script src="{% static 'global_assets/js/plugins/sliders/ion_rangeslider.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/ui/moment/moment_locales.min.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/extra_sliders_ion.js' %}"></script>
    <!-- /theme JS files -->


{% endblock javascript %}

{% block page_header %}
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{% url 'trainer-home' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>
                        Anasayfa</a>
                    <a href="{% url 'trainer-pilates-home' %}" class="breadcrumb-item">
                        Personal Training Yönetimi</a>
                    <span class="breadcrumb-item active">Personal Training</span>

                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h5><i class="mr-1"></i><span class="font-weight-semibold"><a style="color: black"
                                                                              href="{% url 'trainer-pilates-home' %}"><i
                        class="icon-arrow-left52 fa-2x mr-2"></i></a>Personal Training - </span>Manuel Program
                    Hazırlama
                </h5>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
            <div class="header-elements d-none">
                <div class="d-flex justify-content-center">
                </div>
            </div>
        </div>
    </div>
{% endblock page_header %}


{% block page_content %}
    <!-- Corporate Table -->
    <div class="row">
        <div class="col-lg-12">
            <form method="post" enctype="multipart/form-data"
                  action="{% url 'trainer-pilates-create' %}">
                {% csrf_token %}

                <div class="card">

                    <div class="card-header header-elements-inline">
                        <div class="form-group col-md-4 " data-select2-id="265">
                            <label class="font-weight-bold">Danışan Seç</label>
                            <select class="form-control select select2-hidden-accessible"
                                    data-container-css-class="border-primary text-primary-700"
                                    data-dropdown-css-class="border-primary" data-fouc="" data-select2-id="22"
                                    tabindex="-1" aria-hidden="true" name="personal">
                                <optgroup label="Danışanlarınız" data-select2-id="266">
                                    {% for personal in  personals %}
                                        {% if personal_info.personal.id == personal.id %}
                                            <option value="{{ personal.id }}"
                                                    selected>{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                        {% else %}
                                            <option value="{{ personal.id }}">{{ personal.user.first_name }} {{ personal.user.last_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            </select>

                        </div>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="">
                        <div class="card">
                            <div class="card-header bg-danger-600 header-elements-inline">
                                <h6 class="card-title">
                                    <a data-toggle="collapse" class="text-white collapsed ml-0 "
                                       href="#collapsible-styled-group" aria-expanded="false"><i
                                            class="icon-arrow-down15  mr-2"></i>Pilates & Stretching & Yoga Egzersiz
                                        Programı</a>
                                </h6>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="reload"></a>
                                        <a class="list-icons-item" data-action="fullscreen"></a>

                                    </div>
                                </div>
                            </div>

                            <div id="collapsible-styled-group" class="collapse" style="">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="form-group mb-3 mb-md-2">
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-12 my-2">
                                                    <fieldset>
                                                        <legend class="font-weight-bold">Kişinin Düzeyini
                                                            Belirle
                                                        </legend>
                                                        {% for k,v in pilates.LEVEL.items %}
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input type="radio"
                                                                           name="person_level"
                                                                           value="{{ v }}"
                                                                           class="form-check-input-styled-primary"

                                                                           data-fouc>
                                                                    {{ v }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}


                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-6 col-sm-12 my-2">
                                                    <fieldset>
                                                        <legend class="font-weight-bold">Amaç Belirle
                                                        </legend>
                                                        {% for k,v in pilates.PURPOSE.items %}
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input type="checkbox"
                                                                           name="{{ k }}"
                                                                           value="{{ v }}"
                                                                           class="form-check-input-styled-danger"
                                                                           data-fouc>
                                                                    {{ v }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}

                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-6 col-sm-12 my-2">
                                                    <fieldset>
                                                        <legend class="font-weight-bold">Gün Sayısı</legend>
                                                        {% for k,v in pilates.DAYS.items %}
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input type="checkbox"
                                                                           name="{{ k }}"
                                                                           value="{{ v }}"
                                                                           class="form-check-input-styled-success"
                                                                           data-fouc>
                                                                    {{ v }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-6 col-sm-12 my-2">
                                                    <fieldset>
                                                        <legend class="font-weight-bold">Antrenman Süresi
                                                            Belirle
                                                        </legend>

                                                        {% for k,v in pilates.TRAININGTIME.items %}
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input type="radio"
                                                                           name="train_time"
                                                                           value="{{ v }}"
                                                                           class="form-check-input-styled-primary"
                                                                           data-fouc>
                                                                    {{ v }}
                                                                </label>
                                                            </div>

                                                        {% endfor %}


                                                    </fieldset>
                                                </div>


                                                <div class="col-lg-12 my-2">
                                                    <fieldset>
                                                        <legend class="font-weight-bold">Dinlenme Aralığı
                                                            Belirle
                                                        </legend>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-12">
                                                                <label class="font-weight-bold" for="">Setler Arası
                                                                    Dinlenme </label>
                                                                {% for k,v in pilates.SET.items %}
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input type="radio"
                                                                                   name="sets_between"
                                                                                   value="{{ v }}"
                                                                                   class="form-check-input-styled-warning"
                                                                                   data-fouc>
                                                                            {{ v }}
                                                                        </label>
                                                                    </div>

                                                                {% endfor %}
                                                            </div>
                                                            <div class="col-lg-6 col-md-6">
                                                                <label class="font-weight-bold" for="">Hareketler Arası
                                                                    Dinlenme</label>
                                                                {% for k,v in pilates.MOVEMENT.items %}
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input type="radio"
                                                                                   name="move_between"
                                                                                   value="{{ v }}"
                                                                                   class="form-check-input-styled-success"
                                                                                   data-fouc>
                                                                            {{ v }}
                                                                        </label>
                                                                    </div>

                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 my-2">
                                                    <fieldset>
                                                        <legend class="font-weight-bold">
                                                            Set
                                                            Sayısı & Tekrar
                                                            Sayısı
                                                        </legend>
                                                        <div class="row">
                                                            <div class="form-group col-lg-6 col-sm-12">
                                                                <label class="font-weight-bold">Set
                                                                    Sayısı</label>
                                                                <input type="text"
                                                                       name="set_number"
                                                                       class="form-control ion-height-helper ion-basic"
                                                                       id=""
                                                                       data-fouc>
                                                            </div>
                                                            <div class="form-group col-lg-6 col-sm-12">
                                                                <label class="font-weight-bold">Tekrar
                                                                    Sayısı</label>
                                                                <input type="text"
                                                                       name="over_number"
                                                                       class="form-control ion-height-helper ion-basic1"
                                                                       id=""
                                                                       data-fouc>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header bg-warning-600 header-elements-inline">
                                <h6 class="card-title">
                                    <a data-toggle="collapse" class="text-white collapsed"
                                       href="#collapsible-styled-group1" aria-expanded="false"><i
                                            class="icon-arrow-down15 mr-2"></i>Egzersiz Türleri</a>
                                </h6>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="reload"></a>
                                        <a class="list-icons-item" data-action="fullscreen"></a>
                                    </div>
                                </div>
                            </div>
                            <div id="collapsible-styled-group1" class="collapse" style="">
                                <div class="card-body">
                                    <div class="row">


                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-primary collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group10"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-primary mr-3"></i>
                                                        Solunum Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group10"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.RESPIRATORY.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-primary"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-danger collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group11"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-danger mr-3"></i>
                                                        Stretching & Yoga Pozları</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group11"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.STRETCHING.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-danger"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-success collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group12"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-success mr-3"></i>
                                                        Reformer Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group12"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.REFORMER.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-success"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-info collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group13"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-info mr-3"></i>
                                                        Jumpboard Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group13"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.JUMPBOARD.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-info"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-success collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group14"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-success mr-3"></i>
                                                        Cadillac Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group14"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.CADILLAC.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-success"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-warning collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group15"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-warning mr-3"></i>
                                                        Wunda Chair Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group15"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.WUNDA.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-warning"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-primary collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group16"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-primary mr-3"></i>
                                                        Barrel Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group16"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.BARREL.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-primary"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-danger collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group17"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-danger mr-3"></i>
                                                        Magic Circle Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group17"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.MAGIC.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-danger"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-success collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group18"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-success mr-3"></i>
                                                        Stability Ball Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group18"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.STABILITY.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-success"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="card col-lg-12">
                                            <div class="card-header">
                                                <h6 class="card-title">
                                                    <a class="text-warning collapsed font-weight-bold"
                                                       data-toggle="collapse"
                                                       href="#collapsible-control-group19"
                                                       aria-expanded="false"><i
                                                            class="icon-arrow-down15 text-warning mr-3"></i>
                                                        Mini Ball Egzersizleri</a>
                                                </h6>
                                            </div>

                                            <div id="collapsible-control-group19"
                                                 class="collapse" style="">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <legend></legend>
                                                        <div class="row mx-1">
                                                            {% for k,v in pilates.EXERCISE.MINIBALL.items %}
                                                                <div class="form-check col-lg-6 col-md-12 col-sm-12 ">
                                                                    <label class="form-check-label">
                                                                        <input type="checkbox"
                                                                               name="{{ k }}"
                                                                               value="{{ v }}"
                                                                               class="form-check-input-styled-warning"
                                                                               data-fouc>
                                                                        {{ v }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </fieldset>


                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="text-right">
                            <button type="submit" name="_save" value="_save" class="btn bg-primary">KAYDET
                                <i class="icon-paperplane ml-2"></i></button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('.ion-basic').ionRangeSlider({
            min: 1,
            max: 20,
        });

        $('.ion-basic1').ionRangeSlider({
            min: 1,
            max: 50,
        });

    </script>
    <!-- /corporate table -->
{% endblock page_content %}