{% extends '../home_base.html' %}
{% block title %}
    İletişim
{% endblock title %}
{% load static %}

{% block javascript %}

{% endblock javascript %}

{% block page_header %}

{% endblock page_header %}


{% block page_content %}
    {% if homes %}
        {% for hm in homes %}

            <!-- Page title -->
            <section class="no-padding">
                <!-- Google Map -->
                <div data-latitude="-37.817240" data-longitude="144.955826" data-style="light"
                     data-info="Hello from &lt;br&gt; Inspiro Themes" data-height-lg="500" data-height-xs="400"
                     data-height-sm="600">
                    <iframe src="{{ hm.central_local_link | default_if_none:'' }}"
                            height="400px"></iframe>
                </div>
                <!-- end: Google Map -->
            </section>
            <!-- end: Page title -->
            <!-- CONTENT -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="row m-t-40">
                                <div class="col-lg-12">
                                    <address>
                                        <strong>Merkez Ofis Adress Bilgileri</strong><br>
                                        <i class="fas fa-map-marker text-info mx-2"></i><span class="font-italic">{{ hm.central_address | default_if_none:'' }}</span><br>
                                        <i class="fas fa-envelope-square text-danger mx-2"></i><span class="font-italic">{{ hm.mail | default_if_none:'' }}</span><br>
                                        <i class="fas fa-phone text-success mx-2"></i><span class="font-italic">{{ hm.central_phone | default_if_none:'' }}</span><br>

                                    </address>
                                </div>
                                <div class="col-lg-12">
                                    <address>
                                        <strong>Şube Adress Bilgileri</strong><br>
                                        <i class="fas fa-map-marker text-info mx-2"></i><span class="font-italic">{{ hm.branch_adress | default_if_none:'' }}</span><br>
                                        <i class="fas fa-envelope-square text-danger mx-2"></i><span class="font-italic">{{ hm.mail | default_if_none:'' }}</span><br>
                                        <i class="fas fa-phone text-success mx-2"></i><span class="font-italic">{{ hm.branch_phone | default_if_none:'' }}</span><br>

                                    </address>
                                </div>
                            </div>
                            <div class="social-icons m-t-30 social-icons-colored">
                                <ul>
                                    <li class="social-facebook"><a
                                            href="{{ hm.facebook | default_if_none:'' }}"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-twitter"><a
                                            href="{{ hm.twitter | default_if_none:'' }}"><i
                                            class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="social-google"><a href="{{ hm.instagram | default_if_none:'' }}"><i
                                            class="fab fa-instagram"></i></a></li>
                                    </li>
                                    <li class="social-google"><a
                                            href="mailto:{{ hm.mail |default_if_none:'' }}"><i
                                            class="fas fa-envelope-square"></i></a></li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form method="post" enctype="multipart/form-data"
                                  action="{% url 'contact-create' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-bold">* Adınız:</label>
                                        <input type="text" name="name_surname"
                                               class="form-control {% if form2.first_name.errors %}border-danger-800{% endif %}"
                                               value="{{ form2.first_name.value | default_if_none:"" }}"
                                               placeholder="Adınızı ve Soyadınızı giriniz...">
                                        {% if form2.first_name.errors %}
                                            {% for error in form2.first_name.errors %}
                                                <small class="text-danger-800">* {{ error }}</small><br/>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-bold">* Email:</label>
                                        <input type="email" name="mail"
                                               class="form-control {% if form2.email.errors %}border-danger-800{% endif %}"
                                               value="{{ form2.email.value | default_if_none:"" }}" required
                                               placeholder="Email adresinizi giriniz...">
                                        {% if form2.email.errors %}
                                            {% for error in form2.email.errors %}
                                                <small class="text-danger-800">* {{ error }}</small><br/>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="subject">Konunuz</label>
                                        <input type="text" name="subject"
                                               class="form-control {% if form2.last_name.errors %}border-danger-800{% endif %}"
                                               value="{{ form2.last_name.value | default_if_none:"" }}"
                                               placeholder="Konu başlığını giriniz...">
                                        {% if form2.last_name.errors %}
                                            {% for error in form2.last_name.errors %}
                                                <small class="text-danger-800">* {{ error }}</small><br/>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Mesajınız</label>
                                    <textarea type="text" name="message" required rows="5"
                                              class="form-control required"
                                              placeholder="Mesajınızı giriniz..."></textarea>
                                </div>

                                <button class="btn btn-primary" type="submit" id="form-submit"><i
                                        class="fa fa-paper-plane"></i>&nbsp;Gönder
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end: Content -->
        {% endfor %}

    {% endif %}

{% endblock page_content %}