{% extends '../home_base.html' %}
{% block title %}
    Kurucu
{% endblock title %}
{% load static %}

{% block javascript %}

{% endblock javascript %}

{% block page_header %}

{% endblock page_header %}


{% block page_content %}
    {% if founders %}
        {% for fnd in founders %}
            <section id="page-content" class="sidebar-right">
                <div class="">
                    <div class="row">
                        <!-- content -->
                        <div class="">
                            <!-- Blog -->
                            <div id="blog" class="single-post">
                                <!-- Post single item-->
                                <div class="post-item">
                                    <div class="post-item-wrap">
                                        <div class="container col-lg-12">
                                            <a href="#">
                                                <img src="{{ fnd.get_founder_image_url | default_if_none:'' }}"
                                                     style="width:50%; display: block;margin: 0 auto;"
                                                     class="rounded-circle center" alt="">
                                            </a>
                                        </div>
                                        <div class="post-item-description col-lg-11 container-fluid">
                                            <h2 class="text-center">{{ fnd.founder_name_surname |default_if_none:'' }}</h2>
                                            <div class="justify-content-center" style=" display: block;margin: 0 auto;">

                                                <div class="post-meta-share">
                                                    <a class="btn btn-xs btn-slide btn-facebook"
                                                       href="{{ fnd.facebook |default_if_none:'' }}">
                                                        <i class="fab fa-facebook-f"></i>
                                                        <span>Facebook</span>
                                                    </a>
                                                    <a class="btn btn-xs btn-slide btn-twitter"
                                                       href="{{ fnd.twitter |default_if_none:'' }}"
                                                       data-width="100">
                                                        <i class="fab fa-twitter"></i>
                                                        <span>Twitter</span>
                                                    </a>
                                                    <a class="btn btn-xs btn-slide btn-instagram"
                                                       href="{{ fnd.instagram |default_if_none:'' }}"
                                                       data-width="118">
                                                        <i class="fab fa-instagram"></i>
                                                        <span>Instagram</span>
                                                    </a>
                                                    <a class="btn btn-xs btn-slide btn-googleplus"
                                                       href="mailto:{{ fnd.mail |default_if_none:'' }}"
                                                       data-width="80">
                                                        <i class="fas fa-envelope-square"></i>
                                                        <span>Mail</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <hr>
                                            <span style="text-align: justify;">{{ fnd.founder_descriptions | safe |default_if_none:'' }}</span>


                                        </div>


                                    </div>
                                </div>
                                <!-- end: Post single item-->
                            </div>
                        </div>
                        <!-- end: content -->
                        <!-- Sidebar-->

                        <!-- end: Sidebar-->
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}

{% endblock page_content %}