{% extends '../home_base.html' %}
{% block title %}
    Anasayfa
{% endblock title %}
{% load static %}

{% block javascript %}
    <!-- Core JS files -->
    <script src="{% static '/global_assets/js/main/jquery.min.js' %}"></script>
    <script src="{% static '/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    {#	<!-- Theme JS files -->#}
    {#	<script src="{% static '/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>#}
    {#	<script src="{% static '/global_assets/js/plugins/extensions/jquery_ui/touch.min.js' %}"></script>#}

    <script src="{% static '/global_assets/js/demo_pages/components_collapsible.js' %}"></script>
    <script src="{% static '/global_assets/js/demo_pages/components_collapsible.js' %}"></script>
{% endblock javascript %}

{% block page_header %}

{% endblock page_header %}


{% block page_content %}
    <!-- Corporate Table -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
        {% for sld in sliders %}
            <!-- Slide 1 -->
            <div class="slide kenburns"
                 data-bg-image="{{ sld.get_slider_url | default_if_none:'' }}">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <h1 data-caption-animate="zoom-out"
                            class="text-danger">{{ sld.main_title | default_if_none:'' }}</h1>
                        <p>{{ sld.sub_title | default_if_none:'' }}</p>
                        </span>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--end: Inspiro Slider -->
    <section class="p-b-0">
        <div class="container">
            <div class="heading-text text-center heading-section">
                <h2>KURUMSAL</h2>
                {% for hm in homes %}
                    <span class="lead">{{ hm.corporate_main_title | safe  | default_if_none:"" }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="portfolio mx-2">
            <!-- Portfolio Items -->
            <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0">

                {#İndex Abouts content#}
                {% if  abouts %}
                    {% for abts in  abouts %}
                        <!-- portfolio item -->
                        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="{% url 'home-about' %}"><img style="height:350px;"
                                                                          src="{{ abts.get_about_image_url }}"
                                                                          alt=""></a>
                                </div>
                                <div class="portfolio-description">
                                    <a href="{% url 'home-about' %}">
                                        <h3>Hakkımızda</h3>
                                        {#                                        <span>{{ abts.description | safe | truncatewords:15  | default_if_none:"" }}</span>#}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {#İndex Founder content#}
                {% if  founders %}
                    {% for fts in  founders %}
                        <!-- portfolio item -->
                        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="{% url 'home-founder' %}"><img style="height:350px;"
                                                                            src="{{ fts.get_founder_image_url }}"
                                                                            alt=""></a>
                                </div>
                                <div class="portfolio-description">
                                    <a href="{% url 'home-founder' %}">
                                        <h3>Kurucu</h3>
                                        {#                                        <span>{{ abts.description | safe | truncatewords:15  | default_if_none:"" }}</span>#}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {#İndex Philosophys content#}
                {% if  philosophys %}
                    {% for phlp in  philosophys %}
                        <!-- portfolio item -->
                        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="{% url 'home-philosophy' %}">
                                        <div style="height:350px;"
                                             data-bg-video="{{ phlp.get_philosophy_video_url |default_if_none:'' }}"></div>
                                    </a>
                                </div>
                                <div class="portfolio-description">
                                    <a href="{% url 'home-philosophy' %}">
                                        <h3>Felsefemiz</h3>
                                        {#                                        <span>{{ abts.description | safe | truncatewords:15  | default_if_none:"" }}</span>#}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {#İndex Philosophys content#}
                {% if  corporates %}
                    {% for crp in  corporates %}
                        <!-- portfolio item -->
                        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="{% url 'home-corpsolve' %}">
                                        <img style="height:350px;"
                                             src="{{ crp.get_image2_url |default_if_none:'' }}">
                                    </a>
                                </div>
                                <div class="portfolio-description">
                                    <a href="{% url 'home-corpsolve' %}">
                                        <h3>Kurumsal Çözümlemeler</h3>
                                        {#                                        <span>{{ abts.description | safe | truncatewords:15  | default_if_none:"" }}</span>#}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- end: portfolio item -->
            </div>
            <!-- end: Portfolio Items -->
        </div>
    </section>
    <!-- WHAT WE DO -->
    <!-- COUNTERS -->
    <section class="text-light p-t-150 p-b-150 my-3 " data-bg-parallax="/images/parallax/12.jpg">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center">

                        <div class="icon"><i class="fa fa-3x fa-building"></i></div>

                        <div class="counter"><span data-speed="3000" data-refresh-interval="10"
                                                   data-to="{{ corporates_number }}"
                                                   data-from="50" data-seperator="true"></span></div>
                        <div class="seperator seperator-small"></div>


                        <p>Kurumlarımız</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x  fa-user"></i></div>
                        <div class="counter"><span data-speed="4500" data-refresh-interval="23" data-to="{{ trainers }}"
                                                   data-from="200" data-seperator="true"></span></div>
                        <div class="seperator seperator-small"></div>
                        <p>Antrenörlermiz</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">

                        <div class="icon"><i class="fa fa-3x fa-users"></i></div>
                        <div class="counter"><span data-speed="3000" data-refresh-interval="12" data-to="{{ personals }}"
                                                   data-from="300" data-seperator="true"></span></div>
                        <div class="seperator seperator-small"></div>
                        <p>Danışanlarımız</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end: COUNTERS -->
    <!-- END WHAT WE DO -->
    <section id="content">
        <div class="container-fluid">
            <!-- Pricing Table Colored  four columns-->
            <div class="heading-text heading-line text-center pb-5">
                <h4>Fiyatlandırma</h4>
            </div>
            <div class="row pricing-table colored">


                {% if pricings %}
                    {% for prc in pricings %}
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="plan">
                                <div class="plan-header">
                                    <h4>{{ prc.title | default_if_none:'' }}</h4>
                                    <p class="text-muted">{{ prc.sub_title | default_if_none:'' }}</p>
                                    <div class="plan-price"><sup>₺</sup>{{ prc.price | default_if_none:'' }}</div>
                                    <a class="btn btn-light btn-light btn-light-hover" href="#"><span><i
                                            class="fas fa-shopping-cart"></i>Kartı Satın Al</span></a>
                                </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-user"></i>{{ prc.trainer_panel | default_if_none:'' }}
                                        </li>
                                        <li><i class="fa fa-users"></i>{{ prc.personal_panel | default_if_none:'' }}
                                        </li>
                                        <li><i class="fas fa-tv"></i>{{ prc.fitnessmonitor | default_if_none:'' }}
                                        </li>
                                        <div class="toggle accordion accordion-flat">
                                            <div class="ac-item">
                                                <h5 class="ac-title text-primary"><i class="fas fa-plus"></i>Devamını
                                                    İnceleyiniz...
                                                </h5>
                                                <div class="ac-content">
                                                    {% if subPricings %}
                                                        {% for sprc in subPricings %}
                                                            <li>
                                                                <i class="fas fa-angle-double-right"></i>{{ sprc.title | default_if_none:'' }}
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}


            </div>
            <!-- end: Pricing Table Colored four columns-->
        </div>
    </section>
    <!-- BLOG -->
    <section class="content background-grey">
        <div class="container-fluid">
            <div class="heading-text text-center heading-section">
                <h2>BLOG</h2>
                {% if homes %}
                    {% for hm in homes %}
                        <span class="lead">{{ hm.blog_main_title | default_if_none:'' }}</span>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="carousel" data-items="5">
                {% if blogs %}
                    {% for blg in blogs %}
                        <!-- Post item-->
                        <div class="post-item border">
                            <div class="post-item-wrap">

                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" style="height: 300px;"
                                             src="{{ blg.get_blog_image_url | default_if_none:'' }}">
                                    </a>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i
                                            class="fa fa-calendar-o"></i>{{ blg.blog_date | default_if_none:'' }}</span>
                                    <h2><a href="#">{{ blg.blog_title | default_if_none:'' }}
                                    </a></h2>
                                    <p style="height: 80px">{{ blg.blog_descriptions | safe | truncatewords:10 |default_if_none:'' }}</p>
                                    <a href="{{ blg.blog_link |default_if_none:'' }}" class="item-link">Daha Fazlası <i
                                            class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end: Post item-->
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- end: BLOG -->
    <!-- TEAM -->
    <section class="content background-grey">
        <div class="container-fluid">
            <div class="heading-text text-center heading-section text-center">
                <h2>Ekibimiz</h2>
                {% if homes %}
                    {% for hm in homes %}
                        <p>{{ hm.team_main_title | default_if_none:'' }}</p>
                    {% endfor %}

                {% endif %}

            </div>
            <div class="row team-members ">

                {% if teams %}
                    {% for tms in teams %}
                        <div class="col-lg-2">
                            <div class="team-member">
                                <div class="team-image">
                                    <img height="200px" src="{{ tms.get_team_image_url | default_if_none:'' }}">
                                </div>
                                <div class="team-desc">
                                    <h3>{{ tms.name_surname  | default_if_none:'' }}</h3>
                                    <span>{{ tms.job | default_if_none:'' }}</span>
                                    <p style="height: 125px">{{ tms.personal_descriptions | truncatewords:10 | default_if_none:'' }}</p>
                                    <div class="align-center">
                                        <a class="btn btn-xs btn-slide btn-light"
                                           href="{{ tms.facebook  | default_if_none:'' }}">
                                            <i class="fab fa-facebook-f"></i>
                                            <span>Facebook</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-light"
                                           href="{{ tms.twitter  | default_if_none:'' }}" data-width="100">
                                            <i class="fab fa-twitter"></i>
                                            <span>Twitter</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-light"
                                           href="{{ tms.instagram  | default_if_none:'' }}" data-width="118">
                                            <i class="fab fa-instagram"></i>
                                            <span>Instagram</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-light"
                                           href="mailto:{{ tms.mail  | default_if_none:'' }}"
                                           data-width="80">
                                            <i class="fas fa-envelope-square"></i>
                                            <span>Mail</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </section>
    <!-- end: TEAM -->
    <!-- /corporate table -->
{% endblock page_content %}






