{% extends './reporting_analysis_base.html' %}
{% block title %}
    Raporlama & Analiz
{% endblock title %}
{% load static %}

{% block javascript %}
    <script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js' %}"></script>
    <script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_extension_buttons_html5.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_data_sources.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_sorting.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/components_buttons.js' %}"></script>
    <script src="{% static 'global_assets/js/demo_pages/datatables_advanced.js' %}"></script>
{% endblock javascript %}

{% block page_header %}
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light  header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="{% url 'trainer-home' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>
                        Anasayfa</a>
                    <span class="breadcrumb-item active">Analiz & Raporlama</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="mr-1"></i> <span class="font-weight-semibold"><a style="color: black"
                                                                               href="{% url 'trainer-home' %}"><i
                        class="icon-arrow-left52 fa-2x mr-2"></i></a>Raporlama & Analiz Yönetimi</span>
                </h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
            <div class="header-elements d-none">
                <div class="d-flex justify-content-center">
                </div>
            </div>
        </div>
    </div>
{% endblock page_header %}


{% block page_content %}

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Danışan Listesi</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        {% if personals %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover datatable-highlight table-responsive-lg">
                    <thead>
                    <tr>
                        <th>Fotoğraf</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Mail</th>
                        <th>Telefon</th>
                        <th>Sonuçlar</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for personal in personals %}
                        <tr>
                            <td> {% if personal.avatar %}
                                <a href="{{ personal.avatar.url }}">
                                    <img src="{{ personal.avatar.url }} "
                                         class="rounded-round" width="50px" height="50px"/></a>
                            {% endif %}
                            </td>
                            <td>
                                {{ personal.user.first_name | default_if_none:"" }}
                            </td>
                            <td>
                                {{ personal.user.last_name | default_if_none:"" }}
                            </td>
                            <td>
                                {{ personal.user.email | default_if_none:"" }}
                            </td>
                            <td>
                                {{ personal.phone | default_if_none:"" }}
                            </td>
                            <td>
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{% url 'trainer-forms-analysis-results-home' id=personal.id %}" class="dropdown-item"><i class="icon-stack2 text-danger-800"></i>
                                                Form Sonuçları</a>
                                            <a href="{% url 'trainer-measurements-analysis-home' id=personal.id %}" class="dropdown-item"><i class="icon-law text-primary"></i>
                                               Ölçüm Sonuçları</a>
                                            <a href="{% url 'trainer-prescriptions-analysis-home' id=personal.id%}" class="dropdown-item"><i class="icon-file-text3 text-success"></i>
                                                Reçete Sonuçları</a>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>
    <!-- /corporate table -->
{% endblock page_content %}