{% extends 'core.html' %}

{% block title %}
    Yeni Şifre
{% endblock title %}
{% load static %}

{% block javascript %}
    <script src="{% static 'assets/js/app.js' %}"></script>
{% endblock javascript %}
{% block body %}
    <!-- Page content -->
    <div class="page-content login-cover ">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Login form -->
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Hesabınıza giriş yapın</h5>
                            <span class="d-block text-muted">Kullanıcı bilgilerinizi aşağıya girin</span>
                        </div>
                        <form method="post" action="">
                            {% csrf_token %}

                        </form>

                    </div>
                </div>

                <!-- /login form -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
{% endblock body %}
