{% extends 'core.html' %}
{% block title %}
    Giriş Yap
{% endblock title %}
{% load static %}

{% block javascript %}
    <script src="{% static 'assets/js/app.js' %}"></script>
{% endblock javascript %}
{% block body %}
    <!-- Page content -->
    <div class="page-content login-cover ">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Login form -->

                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-checkmark4 icon-2x text-slate-300 border-slate-300 border-success text-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-2">İşleminiz Başarı ile tamamlanmıştır.</h5>
                                <span class="d-block text-muted">Şifre sıfırlama işleminiz başarıyla sonlanmıştır. Giriş için lütfen <a href="{% url 'login' %}">tıklayınız</a></span>
                            </div>
                        </div>
                    </div>
                <!-- /login form -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
{% endblock body %}
